# Compiled output
/dist
/build

# Dependencies
/node_modules

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Logs and temp files
*.log
/tmp

# Environment files
.env
.env.*
!/.env.example

# Optional: Ignore all .js and .js.map files, if you don't need to track them
# *.js
# *.js.map
